<%=form_for ([current_user, @listing]) do |f|%>
<p>
  <%=f.label :title%>
  <%=f.text_field :title, :required => true%>
</p>

<p>
  <%=f.label :description%>
  <%=f.text_area :description, :required => true%>
</p>

<p>
  <%=f.label :price %>
  <%=f.text_field :price, :required => true%>
</p>

<%=render 'tags/form'%>

<p>
  <%=f.submit%>
</p>
<%end%>
