<h1><%=@listing.title%></h1>
<h3><%=@listing.description%></h3>
<h3>$<%=@listing.price%></h3>
<% unless @listing.tags.empty? %>
<%@listing.tags.each do |i|%>
<ul><li><%=i.tag%></li></ul><%end%>
<%end%>
<%= link_to 'Back', '/'%>
