<h1><%=@listing.title%></h1>
<h3><%=@listing.description%></h3>
<h3>$<%=@listing.price%></h3>
<% if @tag.nil? %>
<%else%>
<ul class="tag"><li class="tag-text"><%=@tag.tag.join(", ")%></li></ul>
<%end%>
<%= link_to 'Back', '/'%>
