<!DOCTYPE html>
<html>
  <head>
    <title>Airleaf</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="header">
      <li id="logo"><a href="/"><img style="height:30px" src="http://bit.ly/2wGWSxP"/></a></li>
      <%if signed_in?%>
      <li class="header-button"><%=link_to "Profile", user_path(current_user.id)%></li>
      <li class="header-button"><%=link_to "Make Listing", new_user_listing_path(current_user.id)%>
      <li class="header-button"><%=link_to "Sign out", sign_out_path, method: :delete%></li>
      <%else%>
      <li class="header-button"><%=link_to "Sign in", sign_in_path%></li>
      <li class="header-button"><%=link_to "Sign up", sign_up_path%></li>
      <%end%>
    </ul>
    <%= yield %>
  </body>
</html>
